:root {
    /* Light mode (default) */
    --bg-color: #f0f0f0;
    --content-bg-color: #ffffff;
    --text-color: #333333;
    --text-dim-color: #33333388;
    --segment-highlight-color: #ffaa4488;
    --segment-hover-color: #ffaa4444;
    --button-color: #ffaa44;
    --button-text-color: #333333;
    --shadow-color: rgba(0,0,0, 0.1);
}

[data-theme="dark"] {
    /* Dark mode */
    --bg-color: #2c2c2c;
    --content-bg-color: #222222;
    --text-color: #d8d8d8;
    --text-dim-color: #d8d8d888;
    --segment-highlight-color: #ffaa4466;
    --segment-hover-color: #ffaa4433;
    --button-color: #ffaa44;
    --button-text-color: #222222;
    --shadow-color: rgba(0,0,0, 0.25)
}

body, html {
    margin: 0;
    padding: 20px;
    background-color: var(--bg-color);
}

.audioPlayerHolder {
    position: fixed; /* Pins to viewport */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensures it stays above content */
}

audio {
    width: 100%;
    max-width: 100%; /* Ensures responsiveness */
    display: none;
}

.loadHolder {
    width: 100%;
    max-width: 800px;
    margin-left:auto;
    margin-right:auto;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

.loadPrompt {
    color: var(--text-color);
    margin-top:28px;
    margin-bottom: 18px;
}

.loadButtonsLine {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Add some space between the buttons */
}

.loadButton {
    padding: 12px 24px;
    background: var(--button-color);
    color: var(--button-text-color);
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px var(--shadow-color);
}

#loadUrlInput {
    width: 60%;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    color: var(--text-color);
    background: var(--content-bg-color);
    text-align: center;
    padding: 12px 0px;
    border-radius: 8px;
    border: 3px solid var(--segment-hover-color); /* Thin black outline */
}

#loadUrlInput:focus {
    outline: none; /* Remove default focus outline */
    border-color: var(--segment-highlight-color); /* Blue outline stroke on focus */
}
#loadUrlInput::placeholder {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    color: var(--text-dim-color);
    text-align: center;
}

#fileName {
    margin-top: 32px;
    margin-bottom: 32px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: var(--text-dim-color);
    width: 100%;
    text-align: center;
}

#themeButton {
    position: fixed;
    bottom: 12px;
    right: 12px;
    width: 30px;
    height: 30px;
    padding:4px;
    border-radius:8px;
    background-color: var(--bg-color);
    box-shadow: 0 4px 8px var(--shadow-color);
    cursor: pointer;
}

#textHolder {
    display: none;
    font-family: serif;
    font-size: 32px;
    line-height: 1.6;
    white-space: pre-wrap; /* Honor line breaks and wrap text */
    color: var(--text-color);
    background-color: var(--content-bg-color);
    padding: 48px;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--shadow-color);

    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.highlight {
    background-color: var(--segment-highlight-color);
    color: var(--text-color);
    padding: 0.1em 0; /* Slight padding */
    border-radius: 3px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

#textHolder span:hover {
    background-color: var(--segment-hover-color);
    cursor: pointer;
}

#themeButton #icon-sun {
    display: none; /* Hidden by default (in light mode) */
}
#themeButton #icon-moon {
    display: block; /* Shown by default (in light mode) */
}
html[data-theme="dark"] #themeButton #icon-sun {
    display: block; /* Show sun icon in dark mode */
}
html[data-theme="dark"] #themeButton #icon-moon {
    display: none; /* Hide moon icon in dark mode */
}
