:root {
    /* Default css variable values */

    /* Color theme (light mode) */
    --color-bg: #f0f0f0;
    --color-content-bg: #ffffff;
    --color-text: #333333;
    --color-text-dim: #33333388;
    --color-shadow: rgba(0,0,0, 0.1);
    --color-button-bg: #888888;

    /* Highlight colors (orange) */
    --color-segment-highlight: #ffaa4488;
    --color-segment-hover: #ffaa4433;

    /* Text size (large) */
    --text-size: 32px;
}
:root {
    @media (max-width: 600px) {
        --text-size: 22px;
    }
}


[data-theme="dark"] {
    --color-bg: #2c2c2c;
    --color-content-bg: #222222;
    --color-text: #d8d8d8;
    --color-text-dim: #d8d8d888;
    --color-shadow: rgba(0,0,0, 0.25);

    --color-segment-highlight: #ffaa4466;
    --color-segment-hover: #ffaa4433;
}

[data-segment-colors="blue"] {
    --color-segment-highlight: #4444ff55;
    --color-segment-hover: #4444ff20;
}
[data-segment-colors="blue"][data-theme="dark"] {
    --color-segment-highlight: #8888ff88;
    --color-segment-hover: #8888ff49;
}

[data-text-size="medium"] {
    --text-size: 24px;
}
[data-text-size="medium"] {
    @media (max-width: 600px) {
        --text-size: 18px;
    }
}

[data-text-size="small"] {
    --text-size: 18px;
}
[data-text-size="small"] {
    @media (max-width: 600px) {
        --text-size: 14px;
    }
}

/* ------------------------------------------------ */

body, html {
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
}

#playerHolder {
    display: none;
    position: fixed; /* pins to viewport */
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    z-index: 1000; /* stays on top */
    padding-bottom:24px; /* extra hit area for hover mechanics */
}

#player {
    width: 100%;
    max-width: 100%; /* ensures responsiveness */
}

.loadHolder {
    margin-top:64px; /* clear player */
    padding-left: 18px;
    padding-right: 18px;
    width: calc(100% - 36px);
    max-width: 800px;
    margin-left:auto;
    margin-right:auto;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

.loadPrompt {
    color: var(--color-text-dim);
    margin-top:28px;
    margin-bottom: 18px;
}

.loadButtonsLine {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.loadButton {
    padding: 12px 24px;
    background: var(--color-content-bg);
    color: var(--color-text-dim);
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px var(--color-shadow);
}
.loadButton:focus {
    outline: 3px solid var(--color-segment-highlight);
}

@media (max-width: 600px) {
    .loadButton {
        padding: 12px 12px;
    }
}

#loadUrlInput {
    width: 100%;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    color: var(--color-text);
    background: var(--color-content-bg);
    padding: 12px 18px;
    border-radius: 8px;
    border: 0px;  /* 2px solid var(--color-text-dim); */
}
#loadUrlInput::placeholder {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    color: var(--color-text-dim);
}
#loadUrlInput:focus {
    outline: 3px solid var(--color-segment-highlight);
}

#noSleepInfo {
    height:48px;
}
[data-sleep="on"] #noSleepInfo  {
    display: none;
}

#sleepInfo {
    display: none;
}
[data-sleep="on"] #sleepInfo {
    width:100%;
    margin-top:24px;
    margin-bottom:24px;
    font-size:16px;
    font-weight: bold;
    color: var(--color-text-dim);
    font-family: sans-serif;

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:6px;
}
#sleepInfo svg {
    width: 36px;
    height: 36px;
    fill: var(--color-text-dim);
}


#fileName {
    padding-left: 18px;
    padding-right: 18px;
    width: calc(100% - 36px);
    margin-bottom: 16px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: var(--color-text-dim);
    text-align: center;
}
@media (max-width: 600px) {
    #fileName {
        margin-top: 16px;
        margin-bottom: 16px;
    }
}

/* square button */
.button {
    width: 30px;
    height: 30px;
    padding:6px;
    border-radius:8px;
    background-color: var(--color-content-bg);
    box-shadow: 0 4px 8px var(--color-shadow);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}
.button svg path {
    fill: var(--color-text-dim);
}

#uiPanelButton {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 12px; /* enlarged hit area */
    cursor: pointer;
}

#uiOverlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #00000044;
}

#uiPanel {
    display: flex;
    flex-direction: column;
    gap: 16px;

    position: absolute;
    bottom: 64px;
    right: 12px;
    padding: 12px;
    border-radius:8px;
    background: var(--color-bg);
    box-shadow: 0 4px 8px var(--color-shadow);

}

/* ------------------- */

#outerTextHolder {
    width: calc(100% - 36px);
    max-width: 800px;
    padding: 0 18px 18px 18px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 600px) {
    #outerTextHolder {
        width: 100%;
        padding: 0;
    }
}

/* ------------------- */

#textHolder {
    display: none;
    font-family: serif;
    font-size: var(--text-size);
    line-height: 1.6;
    white-space: pre-wrap; /* Honor line breaks and wrap text */
    color: var(--color-text);
    background-color: var(--color-content-bg);
    margin:0;
    padding: 36px;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--color-shadow);

}
@media (max-width: 600px) {
    #textHolder {
        padding: 18px;
        border-radius: 0;
        box-shadow: none;
        }
}

span {
    background-color: transparent;
    /* transition: background-color 0.3s ease, color 0.3s ease; */
}
span.highlight {
    background-color: var(--color-segment-highlight);
    color: var(--color-text);
    padding: 0.1em 0;
    border-radius: 3px;
    transition: background-color 0.3s ease, color 0.3s ease;

    display: inline;
    box-decoration-break: clone;
}
[data-player-status="pause"] span.highlight {
    background-color: var(--color-segment-hover);
}
[data-player-status="none"] span.highlight {
    background-color: var(--color-segment-hover);
}

@media (pointer: fine) {
    /* hover effect only when is pointer device */
    #textHolder span:hover {
        background-color: var(--color-segment-hover);
        padding: 0.1em 0;
        border-radius: 3px;
        cursor: pointer;
    }
    /* hovering over currently highlighted segment shouldn't change its bg color */
    #textHolder span:hover.highlight {
        border-radius: 3px;
        background-color: var(--color-segment-highlight);
    }
}

#segmentColorsButton svg path.colored {
    fill: var(--color-segment-highlight); /* hah */
}

/* ------------------- */

#helpHolder {
    display: none;
    font-size: 16px;
    font-family: sans-serif;
    color: var(--color-text-dim);
    margin:0;
    padding-top: 36px;
    padding-bottom: 36px;
}
@media (max-width: 600px) {
    #helpHolder {
        padding: 18px;
    }
}

#helpHolder thead th {
    padding-bottom: 12px;
}
#helpHolder tbody tr td {
    text-align: left;
}
#helpHolder tbody tr td:first-child {
    text-align: left;
    padding-right: 24px;
}

#githubCorner {
    position:fixed;
    right: 0;
    top: 0;
}
#githubCorner svg {
    fill: var(--color-text-dim);
}

/* ------------------- */

.no-transition {
    transition: none !important;
}

