#################
# Use Python 3.11
#################

# Archived fork of VibeVoice (due to removal of vibevoice project's code from github)
git+https://github.com/zeropointnine/vibevoice-community-fix

triton-windows==3.3.1.post19; sys_platform == 'win32'

# App dependencies
faster-whisper==1.2.1
ctranslate2==4.6.1
torch==2.6.0

audiotsm==0.1.2
chardet==5.2.0
ffmpeg-python==0.2.0
librosa==0.11.0
loguru==0.7.3
metaphone==0.6
mutagen==1.47.0
natsort==8.4.0
num2words==0.5.14
nvidia-ml-py
psutil
pyloudnorm==0.1.1
pysbd==0.3.4
pywin32; sys_platform == 'win32'
readchar==4.2.1
sounddevice==0.5.2
soundfile==0.13.1
watchdog==6.0.0
whisper_normalizer==0.1.12
xxhash==3.5.0

# Model-specific app dependency
peft>=0.13.0
