absl-py==2.3.1
accelerate==1.9.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aioitertools==0.12.0
aiosignal==1.4.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
argbind==0.3.9
asttokens==3.0.0
attrs==25.3.0
audioread==3.0.1
boto3==1.35.36
botocore==1.35.93
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
contourpy==1.3.2
cycler==0.12.1
dacite==1.9.2
decorator==5.2.1
descript-audio-codec==1.0.0
descript-audiotools==0.7.2
docstring_parser==0.17.0
einops==0.8.1
einx==0.3.0
executing==2.2.0
ffmpeg-python==0.2.0
ffmpy==0.6.1
filelock==3.18.0
fire==0.7.0
flatten-dict==0.4.2
fonttools==4.59.0
frozendict==2.4.6
frozenlist==1.7.0
fsspec==2025.7.0
future==1.0.0
grpcio==1.74.0
huggingface-hub==0.34.1
idna==3.10
importlib_resources==6.5.2
ipython==9.4.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
jieba==0.42.1
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.5.1
json_repair==0.48.0
julius==0.2.7
kiwisolver==1.4.8
langid==1.1.6
lazy_loader==0.4
librosa==0.11.0
llvmlite==0.44.0
loguru==0.7.3
Markdown==3.8.2
markdown-it-py==3.0.0
markdown2==2.5.3
MarkupSafe==3.0.2
matplotlib==3.10.3
matplotlib-inline==0.1.7
mdurl==0.1.2
more-itertools==10.7.0
mpmath==1.3.0
msgpack==1.1.1
multidict==6.6.3
mutagen==1.47.0
natsort==8.4.0
networkx==3.5
numba==0.61.2
numpy==2.2.6
omegaconf==2.3.0
openai-whisper==20250625
packaging==25.0
pandas==2.3.1
parso==0.8.4
pillow==11.0.0
platformdirs==4.3.8
pooch==1.8.2
prompt_toolkit==3.0.51
propcache==0.3.2
protobuf==3.19.6
psutil==7.0.0
pure_eval==0.2.3
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
pydub==0.25.1
Pygments==2.19.2
pyloudnorm==0.1.1
pyparsing==3.2.3
pysbd==0.3.4
pystoi==0.4.1
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
randomname==0.2.1
regex==2024.11.6
requests==2.32.4
rich==14.1.0
ruff==0.12.2
s3fs==2025.7.0
s3transfer==0.10.4
safetensors==0.5.3
scikit-learn==1.7.1
scipy==1.16.0
setuptools==80.9.0
six==1.17.0
sounddevice==0.5.2
soundfile==0.13.1
soxr==0.5.0.post1
stack-data==0.6.3
sympy==1.14.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
termcolor==3.1.0
threadpoolctl==3.6.0
tiktoken==0.9.0
tokenizers==0.20.3
torch==2.7.1
torch-stoi==0.2.3
torchaudio==2.7.1
torchvision==0.22.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.46.3
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
vector-quantize-pytorch==1.22.18
watchdog==6.0.0
wcwidth==0.2.13
Werkzeug==3.1.3
win32_setctime==1.2.0
wrapt==1.17.2
xxhash==3.5.0
yarl==1.20.1

# Fork of higgs-audio which simply adds missing __init__.py files to various subdirectories
git+https://github.com/zeropointnine/tts-audiobook-tool-higgs-audio@a9f70fe385a26862c66688310faced4534dde6e8#egg=boson-multimodal
