# Archived fork of VibeVoice (due to removal of vibevoice project's code from github)
git+https://github.com/vibevoice-community/VibeVoice@d244401c9d761b9f059dff3c6a6411e77a0a5edf

triton-windows==3.3.1.post19; sys_platform == 'win32'

faster-whisper==1.2.0
ffmpeg-python==0.2.0
librosa==0.11.0
loguru==0.7.3
mutagen==1.47.0
natsort==8.4.0
pyloudnorm==0.1.1
pynvml==13.0.1
pysbd==0.3.4
sounddevice==0.5.2
soundfile==0.13.1
watchdog==6.0.0
xxhash==3.5.0
