# Fork of higgs-audio which simply adds missing __init__.py files to various subdirectories
git+https://github.com/zeropointnine/tts-audiobook-tool-higgs-audio#egg=boson-multimodal

# Higgs dependencies
descript-audio-codec
torch
torchvision
torchaudio
transformers>=4.45.1,<4.47.0
dacite
boto3==1.35.36
s3fs
json_repair
pandas
pydantic
vector_quantize_pytorch
pydub
ruff==0.12.2
omegaconf
click
langid
jieba
accelerate>=0.26.0

# App dependencies
faster-whisper==1.2.0
ffmpeg-python==0.2.0
librosa==0.11.0
loguru==0.7.3
mutagen==1.47.0
natsort==8.4.0
pyloudnorm==0.1.1
pynvml==13.0.1
pysbd==0.3.4
sounddevice==0.5.2
soundfile==0.13.1
watchdog==6.0.0
xxhash==3.5.0
